.req-full {
  display: flex;
  align-content: space-between;
}

.pending {
  border-color: black;
}

.done {
  border-color: green;
}

.issue {
  border-color: red;
}

.reqFullEquipment {
  width: 100%;
}
