.filter-chip-wrapper {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-chips {
  display: flex;
}

.chip {
  padding: 0;
  margin: 10px;

}
