* {
  font-family: sans-serif;
  margin:0;
  padding: 0;
}

.period {
  overflow: scroll;
}

.week-grid-wrapper > * {
  align-items: center;
  justify-content: center;
}

/* SMALL SCREEN */

@media only screen and (max-width:700px) {
  .week-grid-wrapper {
    display: flex;
    flex-flow: row wrap;
  }
  .day-col {
    background: black;
    color: white;
    text-align: center;
  }

  .period-row {
    display: none;
  }

  .grid-row {
    flex: 1 1 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .req-small-time-info {
    display: block;
  }
}
/* BIG SCREEN */
@media only screen and (min-width: 700px) {
  .week-grid-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .period-row {
    display: flex;
  }

  .grid-row {
    display: flex;
    flex: 3;
  }


  .period, .periodhead {
    justify-content: center;
    flex: 1 1 50px;
    text-align: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }

  .periodhead {
    font-weight: bold;
  }

  .period {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .day-col {
    flex: 0 0 50px;
  }


}
